POSTGRES_DB=geostatusboard
POSTGRES_USER=gsb
POSTGRES_PASSWORD=gsb
POSTGRES_PORT=5432
API_PORT=7070
GATEWAY_METADATA_SCHEMA=geomain
GATEWAY_DEFAULT_FEATURE_SCHEMA=public
GATEWAY_CORS_ORIGIN_0=http://localhost:8080
GATEWAY_CORS_ORIGIN_1=http://127.0.0.1:8080
GATEWAY_CORS_ORIGIN_2=http://localhost:18088
GATEWAY_CORS_ORIGIN_3=http://127.0.0.1:18088
